openapi: 3.0.3
info:
  title: The Hive Community Service API
  version: 1.0.0
  description: |
    REST API documentation for *The Hive* community service platform.

servers:
  - url: https://api.thehive.community/v1

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        name: { type: string }
        bio: { type: string }
        province: { type: string }
        district: { type: string }
        role: { type: string, enum: [USER, ADMIN] }
        balance_hours: { type: integer }
        created_at: { type: string, format: date-time }
    Offer:
      type: object
      properties:
        id: { type: integer }
        provider_id: { type: integer }
        title: { type: string }
        description: { type: string }
        duration_hours: { type: integer }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        province: { type: string }
        district: { type: string }
        status: { type: string, enum: [ACTIVE, EXPIRED, ARCHIVED] }
        tag_ids:
          type: array
          description: "List of associated semantic tag IDs."
          items:
            type: integer
    Request:
      type: object
      properties:
        id: { type: integer }
        seeker_id: { type: integer }
        title: { type: string }
        description: { type: string }
        duration_hours: { type: integer }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        province: { type: string }
        district: { type: string }
        status: { type: string, enum: [ACTIVE, EXPIRED, ARCHIVED] }
      tag_ids:
          type: array
          description: "List of associated semantic tag IDs."
          items:
            type: integer
    Tag:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        wikidata_id: { type: string }
    Handshake:
      type: object
      properties:
        id: { type: integer }
        offer_id: { type: integer }
        seeker_id: { type: integer }
        provider_id: { type: integer }
        status: { type: string, enum: [PENDING, CONFIRMED, COMPLETED, CANCELLED] }
        agreed_hours: { type: integer }
    Transaction:
      type: object
      properties:
        id: { type: integer }
        sender_id: { type: integer }
        receiver_id: { type: integer }
        handshake_id: { type: integer }
        amount: { type: integer }
        description: { type: string }
    Rating:
      type: object
      properties:
        id: { type: integer }
        handshake_id: { type: integer }
        rater_id: { type: integer }
        ratee_id: { type: integer }
        punctuality: { type: integer }
        friendliness: { type: integer }
        communicative: { type: integer }
        preparedness: { type: integer }
        comment: { type: string }
    Message:
      type: object
      properties:
        id: { type: integer }
        sender_id: { type: integer }
        receiver_id: { type: integer }
        handshake_id: { type: integer }
        content: { type: string }
        created_at: { type: string, format: date-time }
####### I am adding these just to show my internal architecture:
    OfferTag:
      type: object
      description: Join table linking Offers and Semantic Tags
      properties:
        offer_id: { type: integer }
        tag_id: { type: integer }
  
    RequestTag:
      type: object
      description: Join table linking Requests and Semantic Tags
      properties:
        request_id: { type: integer }
        tag_id: { type: integer }
  
    UserBadge:
      type: object
      description: Join table linking Users and Badges
      properties:
        user_id: { type: integer }
        badge_id: { type: integer }
########################
    Question:
      type: object
      properties:
        id: { type: integer }
        offer_id: { type: integer }
        request_id: { type: integer }
        asker_id: { type: integer }
        content: { type: string }
        created_at: { type: string, format: date-time }
    
    Answer:
      type: object
      properties:
        id: { type: integer }
        question_id: { type: integer }
        responder_id: { type: integer }
        content: { type: string }
        created_at: { type: string, format: date-time }
    
    Report:
      type: object
      properties:
        id: { type: integer }
        reporter_id: { type: integer }
        reported_user_id: { type: integer }
        message: { type: string }
        status: { type: string, enum: [OPEN, IN_REVIEW, RESOLVED] }
        created_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time }
        
    ForumTopic:
      type: object
      properties:
        id:
          type: integer
          example: 10
        author_id:
          type: integer
          description: "User who created the topic"
          example: 5
        title:
          type: string
          description: "Title of the forum topic"
          example: "Ideas for new community events"
        created_at:
          type: string
          format: date-time
          example: "2025-10-18T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-10-19T08:30:00Z"

    ForumPost:
      type: object
      properties:
        id:
          type: integer
          example: 88
        topic_id:
          type: integer
          description: "ID of the forum topic this post belongs to"
          example: 10
        author_id:
          type: integer
          description: "User who created the post"
          example: 7
        content:
          type: string
          description: "Content of the post"
          example: "I think we should organize a monthly cleanup drive!"
        created_at:
          type: string
          format: date-time
          example: "2025-10-19T15:45:00Z"

security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
                name: { type: string }
                province: { type: string }
                district: { type: string }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user:
                    $ref: '#/components/schemas/User'

  /users:
    get:
      tags: [Users]
      summary: List users (admin)
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags: [Users]
      summary: Get user by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: User detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags: [Users]
      summary: Update user profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Updated
    delete:
      tags: [Users]
      summary: Delete user (admin)
      responses:
        '204':
          description: Deleted

  /offers:
    get:
      tags: [Offers]
      summary: List offers
      responses:
        '200':
          description: List of offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'
    post:
      tags: [Offers]
      summary: Create an offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      responses:
        '201':
          description: Offer created

  /offers/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags: [Offers]
      summary: Get offer by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Offer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
    put:
      tags: [Offers]
      summary: Update an offer
      responses:
        '200':
          description: Offer updated
    delete:
      tags: [Offers]
      summary: Delete or archive an offer
      responses:
        '204':
          description: Offer deleted

  /requests:
    get:
      tags: [Requests]
      summary: List requests
      responses:
        '200':
          description: List of requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Request'
    post:
      tags: [Requests]
      summary: Create a request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
      responses:
        '201':
          description: Request created
          
  /requests/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Requests]
      summary: Get request by ID
      responses:
        '200':
          description: Request detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
    put:
      tags: [Requests]
      summary: Update a request
      responses:
        '200':
          description: Request updated
    delete:
      tags: [Requests]
      summary: Delete or archive a request
      responses:
        '204':
          description: Request deleted
        
  /handshakes:
    get:
      tags: [Handshakes]
      summary: List handshakes
      responses:
        '200':
          description: Handshake list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Handshake'
    post:
      tags: [Handshakes]
      summary: Create handshake
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Handshake'
      responses:
        '201':
          description: Created

  /handshakes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    put:
      tags: [Handshakes]
      summary: Update handshake status
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [PENDING, CONFIRMED, COMPLETED, CANCELLED]
      responses:
        '200':
          description: Status updated

  /transactions:
    get:
      tags: [Transactions]
      summary: List transactions
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'

  /ratings:
    post:
      tags: [Ratings]
      summary: Submit rating
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rating'
      responses:
        '201':
          description: Rating created

  /ratings/{user_id}:
    get:
      tags: [Ratings]
      summary: Get ratings for a user
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: User ratings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rating'

  /messages:
    get:
      tags: [Messages]
      summary: List messages
      responses:
        '200':
          description: Message list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags: [Messages]
      summary: Send message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '201':
          description: Message sent
          
  
  /tags:
    get:
      tags: [Semantic Tags]
      summary: List all semantic tags
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
    post:
      tags: [Semantic Tags]
      summary: Create a new tag
      description: Create a semantic tag that links to a Wikidata concept.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "Gardening"
                wikidata_id:
                  type: string
                  example: "Q12345"
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
  /badges:
    get:
      tags: [Badges]
      summary: List all badges
      responses:
        '200':
          description: List of badges
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    name: { type: string }
                    description: { type: string }
                    icon_url: { type: string }
    post:
      tags: [Badges]
      summary: Create a new badge (admin only)
      description: Allows an admin to define a new badge type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, description]
              properties:
                name:
                  type: string
                  example: "Helper Bee"
                description:
                  type: string
                  example: "Awarded for completing 10 volunteer hours"
                icon_url:
                  type: string
                  example: "https://cdn.thehive.community/badges/helper-bee.png"
      responses:
        '201':
          description: Badge created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  name: { type: string }
                  description: { type: string }
                  icon_url: { type: string }
                
  # Adding my Join Tables:
  
  ###########################################################
  # OFFERS & REQUESTS
  ###########################################################

  /offers/{id}/tags:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The ID of the offer
    get:
      tags: [Offers]
      summary: List tags for an offer
      description: Retrieve all semantic tags associated with a specific offer.
      responses:
        '200':
          description: A list of tags linked to the offer.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '404':
          description: Offer not found
  /requests/{id}/tags:
    parameters:
      - name: id
        in: path
        required: true
        description: ID of the request
        schema:
          type: integer
  
    get:
      tags: [Requests]
      summary: List tags for a specific request
      description: Retrieve all semantic tags associated with a given request.
      responses:
        '200':
          description: List of tags linked to the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '404':
          description: Request not found
        '401':
          description: Unauthorized
          
  ###########################################################
  # BADGES
  ###########################################################

  /users/{id}/badges:
    parameters:
      - name: id
        in: path
        required: true
        description: ID of the user
        schema:
          type: integer
  
    get:
      tags: [Badges]
      summary: List badges earned by a user
      description: Retrieve all badges that the specified user has earned.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of badges earned by the user
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 3
                    name:
                      type: string
                      example: "Helper Bee"
                    description:
                      type: string
                      example: "Awarded for completing 10 volunteer hours"
                    icon_url:
                      type: string
                      example: "https://cdn.thehive.community/badges/helper-bee.png"
                    earned_at:
                      type: string
                      format: date-time
                      example: "2025-02-15T10:30:00Z"
  
    post:
      tags: [Badges]
      summary: Grant a badge to a user (admin only)
      description: Assign an existing badge to a user. Requires admin privileges.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [badge_id]
              properties:
                badge_id:
                  type: integer
                  example: 3
      responses:
        '201':
          description: Badge successfully granted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Badge granted to user"
                  user_id:
                    type: integer
                    example: 42
                  badge_id:
                    type: integer
                    example: 3
                  earned_at:
                    type: string
                    format: date-time
                    example: "2025-02-15T10:30:00Z"
        '403':
          description: Forbidden — admin privileges required
  
    delete:
      tags: [Badges]
      summary: Revoke a badge from a user (admin only)
      description: Remove a previously granted badge from the specified user. Requires admin privileges.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Badge successfully revoked
        '403':
          description: Forbidden — admin privileges required
        '404':
          description: Badge not found for this user
          
  ###########################################################
  # QUESTIONS & ANSWERS
  ###########################################################

  /offers/{id}/questions:
    get:
      tags: [Questions]
      summary: List questions for an offer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: List of questions for this offer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
    post:
      tags: [Questions]
      summary: Ask a question about an offer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  example: "Is this offer still available?"
      responses:
        '201':
          description: Question created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'

  /requests/{id}/questions:
    get:
      tags: [Questions]
      summary: List questions for a request
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: List of questions for this request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
    post:
      tags: [Questions]
      summary: Ask a question about a request
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  example: "Can this be done online?"
      responses:
        '201':
          description: Question created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'

  /questions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Questions]
      summary: Get question by ID
      responses:
        '200':
          description: Question detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
    delete:
      tags: [Questions]
      summary: Delete a question
      responses:
        '204':
          description: Question deleted

  /questions/{id}/answer:
    parameters:
    - name: id
      in: path
      required: true
      schema: { type: integer }
    post:
      tags: [Answers]
      summary: Post an answer to a question
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  example: "Yes, it’s still available and open for volunteers."
      responses:
        '201':
          description: Answer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
    get:
      tags: [Answers]
      summary: Get answer for a question
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Answer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
    delete:
      tags: [Answers]
      summary: Delete an answer
      responses:
        '204':
          description: Answer deleted


  ###########################################################
  # REPORTS
  ###########################################################

  /reports:
    get:
      tags: [Reports]
      summary: List all user reports (admin)
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
    post:
      tags: [Reports]
      summary: Submit a report against a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reported_user_id, message]
              properties:
                reported_user_id:
                  type: integer
                  example: 17
                message:
                  type: string
                  example: "User used offensive language in chat."
      responses:
        '201':
          description: Report submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'

  /reports/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Reports]
      summary: Get report details (admin)
      responses:
        '200':
          description: Report detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
    put:
      tags: [Reports]
      summary: Update report status (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [OPEN, IN_REVIEW, RESOLVED]
      responses:
        '200':
          description: Report updated
    delete:
      tags: [Reports]
      summary: Delete a report (admin)
      responses:
        '204':
          description: Report deleted


  ###########################################################
  #COMMUNITY FORUM
  ###########################################################

  /forum/topics:
    get:
      tags: [Forum]
      summary: List all forum topics
      responses:
        '200':
          description: List of forum topics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumTopic'
    post:
      tags: [Forum]
      summary: Create a new forum topic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  example: "Ideas for new community events"
      responses:
        '201':
          description: Forum topic created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'

  /forum/topics/{topic_id}:
    parameters:
      - name: topic_id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Forum]
      summary: Get forum topic details
      responses:
        '200':
          description: Forum topic detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
    delete:
      tags: [Forum]
      summary: Delete a forum topic
      responses:
        '204':
          description: Topic deleted

  /forum/topics/{topic_id}/posts:
    get:
      tags: [Forum]
      summary: List posts under a forum topic
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: List of forum posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumPost'
    post:
      tags: [Forum]
      summary: Create a new post in a forum topic
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  example: "I’d love to help organize the next local cleanup!"
      responses:
        '201':
          description: Forum post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'

  /forum/posts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Forum]
      summary: Get forum post details
      responses:
        '200':
          description: Forum post detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'
    delete:
      tags: [Forum]
      summary: Delete a forum post
      responses:
        '204':
          description: Post deleted


